<!-- energetic-popup.component.html -->
<div class="backgroundImage">
  <div class="energetic-popup">
      <nav class="navMenu">
        <a href="#">Home</a>
        <a href="#">Movies</a>
        <a href="#">Books</a>
        <a href="#">Music</a>
      </nav>
      <div class="recommendations">
        <section id="movies" class="articles">
          <h2 style="padding-top: 150px;  font-size: 4vmin;
          font-weight: 900;">Movie Recommendations</h2>
          <article>
            <div class="article-wrapper">
              <figure>
                <img src="https://m.media-amazon.com/images/S/pv-target-images/26677df38123a3a1553d704477c100af81b641e1d539bc1991f99f89935f18b0.jpg" alt="" />
              </figure>
              <div class="article-body">
                <h2>Inception (2010)</h2>
                <p>
                  This mind-bending film by Christopher Nolan follows a group of thieves who steal information by entering people's dreams. It's a visually stunning and thought-provoking film that will leave you questioning what's real and what's not.
                </p>
                <a href="https://www.imdb.com/title/tt1375666/" class="read-more">
                  Read more <span class="sr-only">about this is some title</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <article>
        
            <div class="article-wrapper">
              <figure>
                <img src="https://www.intofilm.org/intofilm-production/scaledcropped/1096x548https%3A/s3-eu-west-1.amazonaws.com/images.cdn.filmclub.org/film__3294-memento--hi_res-e039b792.jpg/film__3294-memento--hi_res-e039b792.jpg" alt="" />
              </figure>
              <div class="article-body">
                <h2>Memento (2000)</h2>
                <p>
                  This neo-noir thriller by Christopher Nolan tells the story of a man with short-term memory loss who is trying to find his wife's killer. The film is told in reverse chronological order, which adds to the confusion and mystery.
                </p>
                <a href="https://www.imdb.com/title/tt0209144/" class="read-more">
                  Read more <span class="sr-only">about this is some title</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <article>
        
            <div class="article-wrapper">
              <figure>
                <img src="https://m.media-amazon.com/images/M/MV5BYTE2NWRiMzAtZTkzZi00ZGIwLTk3NDItYmY2YWI2ZDc5ZTNmXkEyXkFqcGdeQW1pYnJ5YW50._V1_.jpg" alt="" />
              </figure>
              <div class="article-body">
                <h2>Mulholland Drive (2001)</h2>
                <p>
                  This surreal neo-noir film by David Lynch is a dreamlike exploration of Hollywood and identity. It's a confusing and ambiguous film, but one that will stay with you long after you've seen it.
                </p>
                <a href="https://www.imdb.com/title/tt0166924/" class="read-more">
                  Read more <span class="sr-only">about this is some title</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </section>
  
        <hr style="width: 50%; margin: 40px auto"/>
  
        <section id="books" class="articles">
          <h2 style="padding-top: 150px;  font-size: 4vmin;
          font-weight: 900;">Books Recommendations</h2>
          <article>
            <div class="article-wrapper">
              <figure>
                <img src="https://nashuproar.org/wp-content/uploads/2019/10/atwood-900x600.jpg" alt="" />
              </figure>
              <div class="article-body">
                <h2>The Handmaid's Tale by Margaret Atwood</h2>
                <p>
                  This dystopian novel tells the story of a woman who is forced to become a handmaid, a woman who is used to bear children for the ruling class. It's a disturbing and thought-provoking book that will leave you questioning the world we live in.
                </p>
                <a href="https://www.amazon.com/Handmaids-Tale-Margaret-Atwood/dp/038549081X" class="read-more">
                  Read more <span class="sr-only">about this is some title</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <article>
        
            <div class="article-wrapper">
              <figure>
                <img src="https://www.fictionalcafe.com/storage/2016/12/IMG_8930-e1481564403598.png" alt="" />
              </figure>
              <div class="article-body">
                <h2>One Hundred Years of Solitude by Gabriel García Márquez</h2>
                <p>
                  This magical realist novel tells the story of the Buendía family over seven generations. It's a complex and sprawling book that will leave you feeling both confused and amazed.
                </p>
                <a href="https://www.amazon.com/Hundred-Solitude-Harper-Perennial-Classics/dp/0060883286" class="read-more">
                  Read more <span class="sr-only">about this is some title</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <article>
        
            <div class="article-wrapper">
              <figure>
                <img src="https://contentcatnip920332409.files.wordpress.com/2019/08/kafka-on-the-shore-by-haruki-murakami.png?w=1568" alt="" />
              </figure>
              <div class="article-body">
                <h2>Kafka on the Shore by Haruki Murakami</h2>
                <p>
                  This surreal novel tells the story of two lost souls, a young boy who runs away from home and an old man who loses his memory. The book is full of dreamlike imagery and symbolism, and it will leave you feeling both confused and intrigued.
                </p>
                <a href="https://madebypernille.com/book-review-kafka-on-the-shore/" class="read-more">
                  Read more <span class="sr-only">about this is some title</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </section>
  
    <hr style="width: 50%; margin: 40px auto"/>
        
    <section id="music" class="articles">
          <h2 style="padding-top: 150px;  font-size: 4vmin;
          font-weight: 900;">Music Recommendations</h2>
          <article>
            <div class="article-wrapper">
              <figure>
                <img src="https://kcpr.org/wp-content/uploads/2017/05/RadioheadArticle-01.jpg" alt="" />
              </figure>
              <div class="article-body">
                <h2>Paranoid Android by Radiohead</h2>
                <p>
                  This progressive rock song is a complex and layered exploration of anxiety and paranoia. It's a challenging listen, but it's also a rewarding one.
                </p>
                <a href="https://open.spotify.com/track/6LgJvl0Xdtc73RJ1mmpotq?si=3ab25bb05a4a4bf6" class="read-more">
                  Listen Here <span class="sr-only">about this is some title</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <article>
        
            <div class="article-wrapper">
              <figure>
                <img src="https://ourculturemag.com/wp-content/uploads/2020/10/Radiohead-Kid-A-Capitol-Image.jpg" alt="" />
              </figure>
              <div class="article-body">
                <h2>Everything in Its Right Place by Radiohead</h2>
                <p>
                  This song is a beautiful and haunting exploration of confusion and existentialism. It's a perfect song for when you're feeling lost and unsure of your place in the world.
                </p>
                <a href="https://open.spotify.com/track/2kRFrWaLWiKq48YYVdGcm8?si=13d4a4e6fa9640bc" class="read-more">
                  Listen Here <span class="sr-only">about this is some title</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <article>
        
            <div class="article-wrapper">
              <figure>
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b946e655-8ad1-4941-9b2c-92b433b74a02/de4qrbw-9110161a-5b37-4b70-8444-6c88e5b0d175.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I5NDZlNjU1LThhZDEtNDk0MS05YjJjLTkyYjQzM2I3NGEwMlwvZGU0cXJidy05MTEwMTYxYS01YjM3LTRiNzAtODQ0NC02Yzg4ZTViMGQxNzUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.1GQAYBmOSXf-xjhxauA880OVGHlany5VMF9IhQSqM-M" alt="" />
              </figure>
              <div class="article-body">
                <h2>Knives Out by Radiohead</h2>
                <p>
                  This experimental song is a chaotic and unsettling exploration of fear and uncertainty. It's a perfect song for when you're feeling overwhelmed and confused.
                </p>
                <a href="https://open.spotify.com/track/521OhfIeThXJKiTyz0m883?si=d1c2b95be2af448a" class="read-more">
                  Listen Here <span class="sr-only">about this is some title</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>